
* {
    box-sizing: border-box;
  }
  

  /* whole first page */
  .bg {
    background-color: #9DADEB;
    background-repeat: no-repeat;
    width: 100%;
    height: 1010px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
/* background-image: url(imgs/intro1.jpg.jpg); */
  }
  
  /* heading */
  .title{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 4rem;
    margin-left: 31vw;
    padding-top: 12vw;
    width: 50%;
    color: white;
  }
 
  /* description */
  .descript{
    margin-left: 10vw;
    padding-top: 10px;
    font-size: large;
    color: whitesmoke;

  }

  /* paragrapgh */
  p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
  }
  
  /* button design */
  #btn{
   
    margin-left: 43vw;
    margin-top: 5vw;
    border-radius: 5px;
    width: 10vw;

  }

  .btn:hover {
    background-color: rgb(154, 170, 188);
  }

  #smallArea{
    padding-left: 680px;
    padding-top:50px;
  }

  #playArea, #buttonArea{
    color: whitesmoke;
    padding-left: 280px; padding-right: 280px; padding-top: 20px;
  }

  button {
    width: 400px;
  }